<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina Inicial</ion-title>
    </ion-toolbar>
  </ion-header>

  
    <ion-card>
     
      

      
       
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/LppHJwqYbWI?si=TCxl_-fIy_PDL4BL" title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      
    </ion-card>



</ion-content>
