<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tabla de Multiplicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla de Multiplicar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="numero" type="number" placeholder="Ingrese un número"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="calcularTabla()">Generar Tabla</ion-button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let item of resultado">
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
